.LoginForm {
    width: 20%;
    min-width: 500px;
    height: 20%;
    min-height: 500px;
    margin: 0 auto;
}

.Paper {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.TextField {
    width: 98%;
    margin: 5px !important;
    margin-bottom: 50px !important;
}

.title {
    text-align: center;
    font-size: large;
    width: 100%;
}

.Button {
    width: 90%;
}

.login {
    text-align: center;
}

.register {
    text-align: center;
    font-weight: bold;
}