#root {
  height: 100%;
  width: 100%;
  /* height: 100vh;
  width: 100vw; */
}

@font-face {
  font-family: 'Determination Mono';
  src: local('Determination Mono'), url(./Fonts/DTM-Mono.otf) format('opentype');
}
